{% extends 'ogolne/base.html' %}

{% block content %}
<h2>Lista wniosków budowlanych</h2>
<ul>
  {% for wniosek in wnioski %}
    <li>
      {{ wniosek.data_zlozenia|date:"Y-m-d H:i" }} – {{ wniosek.tytul }} ({{ wniosek.status }})

      {% if wniosek.status == 'Złożony' %}
        <a href="{% url 'budownictwo:wniosek_detail' wniosek.pk %}">Rozpatrz wniosek</a>
      {% endif %}
      {% if wniosek.status == 'W weryfikacji' %}
        <a href="{% url 'budownictwo:wniosek_detail' wniosek.pk %}">Wydaj decyzję</a>
      {% endif %}
    </li>
  {% empty %}
    <li>Brak wniosków</li>
  {% endfor %}
</ul>

<a href="{% url 'ogolne:panel_urzednika' %}">Wróć</a>
{% endblock %}
