{% extends 'ogolne/base.html' %}

{% block content %}
<h2>Szczegóły zgłoszenia</h2>

<p><strong>PESEL dziecka:</strong> {{ z.mieszkaniec.pesel }}</p>
<p><strong>Imię i nazwisko dziecka:</strong> {{ z.mieszkaniec.imie }} {{ z.mieszkaniec.nazwisko }}</p>
<p><strong>Data zgłoszenia:</strong> {{ z.data_zlozenia }}</p>

{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <p><strong>Rodzic składający zgłoszenie:</strong> {{ z.mieszkaniec }}</p>
  <p><strong>Data urodzenia:</strong> {{ z.data_urodzenia }}</p>

  <label for="reason">Powód odrzucenia (jeśli dotyczy):</label>
  <textarea name="reason" id="reason" rows="4" cols="50"></textarea><br>

  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}

  <button type="submit" name="accept">Zatwierdź</button>
  <button type="submit" name="reject">Odrzuć</button>
</form>



<p><a href="{% url 'akt_urodzenia:lista_zgloszen_urodzen' %}">Wróć do listy</a></p>
{% endblock %}
