{% extends 'ogolne/base.html' %}

{% block content %}
<h2>Lista Wniosków o Dotacje</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tytuł Projektu</th>
            <th>Status</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        {% for wniosek in wnioski %}
        <tr>
            <td>{{ wniosek.tytul_projektu }}</td>
            <td><span class="badge bg-info">{{ wniosek.get_status_display }}</span></td>
            <td>
                <a href="{% url 'dotacje:rozpatrz_wniosek' wniosek.pk %}" class="btn btn-primary btn-sm">
                    Rozpatrz
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}